// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@use '../abstracts' as my;

// https://gwfh.mranftl.com/fonts/outfit?subsets=latin

/* outfit-100 - latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100;
  src: my.font('outfit-v11-latin-100.woff2') format('woff2'), my.font('outfit-v11-latin-100.ttf') format('truetype');
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* outfit-regular - latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: my.font('outfit-v11-latin-regular.woff2') format('woff2'), my.font('outfit-v11-latin-regular.ttf') format('truetype');
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* outfit-600 - latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  src: my.font('outfit-v11-latin-600.woff2') format('woff2'), my.font('outfit-v11-latin-600.ttf') format('truetype');
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* outfit-700 - latin */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  src: my.font('outfit-v11-latin-700.woff2') format('woff2'), my.font('outfit-v11-latin-700.ttf') format('truetype');
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
