@use 'sass:color';

@use '../layout/form';
@use '../abstracts' as my;

/* buttons
---------------------------------------------------------------------------- */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */
%button-reset {
  @extend %os-element-reset;

  box-sizing: inherit;
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: auto; /* 3 */
  max-width: 100%;
  min-height: my.$gutter * 2.5;
  // stylelint-disable-next-line property-units
  padding: calc(my.$gutter * 0.75 - my.$stroke) 0.75rem; /* 6 */
  overflow: visible; /* 3 */

  font-weight: my.font-weight('bold');
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  white-space: inherit;

  appearance: button; /* 1 */
  cursor: pointer; /* 2 */

  background-color: my.palette('button', 'base'); /* 5 */
  border-color: my.palette('border', 'base');
  border-width: my.$stroke;

  [role='group'] > &,
  fieldset > & {
    &:only-child {
      display: flex;

      margin-right: auto;
      margin-left: auto;
    }
  }

  &::-moz-focus-inner {
    padding: 0; /* 4 */

    border: 0;
  }

  &:active {
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.like-a__button,
.like-a__button:link,
button,
[role='button'],
[type='button'] {
  @extend %button-reset;

  transition-duration: 150ms;
  transition-property: color background-color border-color box-shadow;

  &:hover,
  &:focus {
    position: relative;
    z-index: my.layer('default');

    color: my.palette('text', 'light');

    background-color: my.palette('button', 'focus');
    border-color: my.palette('button', 'focus');
    box-shadow: 0 20px 24px -10px my.palette('effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('brand', 'tertiary'), $alpha: -0.2);
  }

}

.like-a__button--reset:link,
[type='reset'] {
  @extend %button-reset;

  color: my.palette('button', 'submit');

  background-color: my.palette('button', 'reset');
}

.like-a__button--submit:link,
[type='submit'] {
  @extend %button-reset;

  justify-content: center;

  width: my.$gutter * 12;

  color: my.palette('text', 'light');
  text-align: center;

  background-color: my.palette('button', 'submit');

  &:hover,
  &:focus {
    @include my.focused;

    background-color: my.palette('button', 'focus');
  }

  &:disabled {
    color: my.palette('disabled', 'background');

    background-color: my.palette('disabled', 'foreground');
  }

  fieldset > &,
  p > & {
    margin-top: my.$gutter;
    margin-right: auto;
    margin-left: auto;

    &:only-child {
      width: 85%;
    }

    &:only-of-type {
      display: block;
    }
  }
}

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
