@use 'sass:color';

@use '../layout/form';
@use '../abstracts' as my;

/* buttons
---------------------------------------------------------------------------- */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */
%button-reset {
  @extend %os-element-reset;

  @include my.themed-color('background-color', ('button', 'base'));/* 5 */
  @include my.themed-color('border-color', ('border', 'base'));

  box-sizing: inherit;
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: auto; /* 3 */
  max-width: 100%;
  min-height: my.$gutter * 2.5;
  // stylelint-disable-next-line property-units
  padding: calc(my.$gutter * 0.75 - my.$stroke) 0.75rem; /* 6 */
  overflow: visible; /* 3 */

  font-weight: my.font-weight('bold');
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  white-space: inherit;

  appearance: button; /* 1 */
  cursor: pointer; /* 2 */

  border-width: my.$stroke;

  [role='group'] > &,
  fieldset > & {
    &:only-child {
      display: flex;

      margin-right: auto;
      margin-left: auto;
    }
  }

  &::-moz-focus-inner {
    padding: 0; /* 4 */

    border: 0;
  }

  &:active {
  }

  &[aria-disabled='true'],
  &:disabled {
    cursor: not-allowed;

    filter: grayscale(100%);
  }

  &[aria-busy='true'] {
    @include my.pulsing-outline(my.palette('loading', 'pulsing-list'));
  }

  table & {
    min-height: 0;
    padding: calc(my.$gutter * 0.375 - my.$stroke) 0.375rem;
  }
}

.like-a__button,
.like-a__button:link,
.like-a__button:visited,
button,
[role='button'],
[type='button'] {
  @extend %button-reset;

  transition-duration: 150ms;
  transition-property: color background-color border-color box-shadow;

  &:hover,
  &:focus {
    @include my.themed-color('background-color', ('button', 'focus'));
    @include my.themed-color('border-color', ('button', 'focus'));

    position: relative;
    z-index: my.layer('default');

    color: my.palette('text', 'light');

    box-shadow: 0 20px 24px -10px my.palette('effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('brand', 'tertiary'), $alpha: -0.2);

    @include my.themed-declaration ('green') {
      box-shadow: 0 20px 24px -10px my.palette('green-theme', 'effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('green-theme', 'brand', 'tertiary'), $alpha: -0.2);
    }

    @include my.themed-declaration ('orange') {
      box-shadow: 0 20px 24px -10px my.palette('orange-theme', 'effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('orange-theme', 'brand', 'tertiary'), $alpha: -0.2);
    }

    @include my.themed-declaration ('red') {
      box-shadow: 0 20px 24px -10px my.palette('red-theme', 'effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('red-theme', 'brand', 'tertiary'), $alpha: -0.2);
    }
  }
}

.like-a__button [type='checkbox'] {
  display: none;
}

.like-a__button--reset,
[type='reset'] {
  @extend %button-reset;

  @include my.themed-color('color', ('button', 'submit'));
  @include my.themed-color('background-color', ('button', 'reset'));
}

.like-a__button--submit,
[type='submit'] {
  @extend %button-reset;

  @include my.themed-color('color', ('text', 'light'));
  @include my.themed-color('background-color', ('button', 'submit'));

  justify-content: center;

  width: my.$gutter * 12;

  text-align: center;

  &:hover,
  &:focus {
    @include my.focused;
    @include my.themed-color('background-color', ('button', 'focus'));
  }

  &:disabled {
    @include my.themed-color('color', ('disabled', 'background'));
    @include my.themed-color('background-color', ('disabled', 'foreground'));
  }

  fieldset > &,
  p > & {
    margin-top: my.$gutter;
    margin-right: auto;
    margin-left: auto;

    &:only-child {
      width: 85%;
    }

    &:only-of-type {
      display: block;
    }
  }
}

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
