@use '../abstracts' as my;

.colophon {
  position: relative;

  display: flex;

  gap: my.$gutter * 0.5;

  align-items: center;

  a {
    @include my.link-undercover;
  }
}

.colophon__creator-avatar {
  flex-shrink: 0;

  width: my.$gutter * 2.5;
  height: my.$gutter * 2.5;

  border-radius: 100%;
  object-fit: cover;
}

.colophon__campaign {
  display: flex;

  flex-grow: 1;
  flex-wrap: wrap;

  gap: my.$gutter * 1.5;

  align-items: center;

  min-width: 0;
  margin: 0;

  > div {
    max-width: 100%;
  }

  dt,
  dd {
    max-width: 100%;
    overflow: hidden;

    text-overflow: ellipsis;
  }

  dt {
    font-size: my.ms-step(-1);
  }

  dd {
    text-transform: uppercase;
  }
}

.colophon__campaign-creator {
  a:link {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    text-underline-offset: 0.25em;
  }
}

.colophon__campaign-location {
  position: relative;

  min-height: my.$gutter;
  padding-left: calc(0.25em + 1rem);

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1rem;
    height: 100%;

    content: '';

    background-image: my.image('icon-map-pin.svg');
    filter: invert(1);
    background-position: 0 50%;
    background-size: 1rem auto;
  }
}

.colophon__campaign-location--election {
  padding-left: 0;

  &::before {
    content: none;
  }
}

.colophon__campaign-location-city {
  &::after {
    content: ', ';
  }
}

.colophon__campaign-location-state {
  &[title] {
    text-decoration: none;
  }
}
