@use '../abstracts' as my;

.colophon {
  position: relative;

  display: flex;

  align-items: center;

  a {
    @include my.link-undercover;
  }
}

.colophon__creator-avatar {
  margin-right: my.$gutter * 0.5;

  // background-color: my.palette('brand','secondary');
  // border-radius: 50%;
  filter: brightness(0) invert(1);
}

.colophon__campaign {
  display: flex;

  flex-basis: 0;
  flex-grow: 1;
  flex-wrap: wrap;

  align-items: center;
}

.colophon__campaign-creator {
  margin-right: my.$gutter * 1.5;

  a:link {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    text-underline-offset: 0.25em;
  }
}

.colophon__campaign-location {
  position: relative;

  min-height: my.$gutter;
  padding-left: calc(0.25em + 1rem);
  margin-right: my.$gutter * 1.5;

  font-size: my.ms-step(-1);

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1rem;
    height: 100%;


    content: '';

    background-image: my.image('icon-map-pin.svg');
    filter: invert(1);
    background-position: 0 50%;
    background-size: 1rem auto;
  }
}

.colophon__campaign-location-city {
  &::after {
    content: ', ';
  }
}

.colophon__campaign-location-state {
  &[title] {
    text-decoration: none;
  }
}

.colophon .links-central {
  // @include my.image-replacement;

  display: flex;

  flex-direction: column;
  flex-grow: 0;

  align-items: center;
  align-self: stretch;
  justify-content: flex-start;

  width: my.$gutter * 3;
  min-height: my.$gutter * 3;
  padding-right: my.$gutter * 0.5;
  padding-left: my.$gutter * 0.5;
  margin-right: 0;
  margin-left: auto;
  overflow: hidden;

  font-size: my.ms-step(-1);
  font-weight: my.font-weight('bold');

  background-color: hsla(247, 96%, 21%, 0.2);
  border-radius: 5px;

  &::before,
  &::after {
    flex-grow: 1;

    min-height: 100%;

    background-image: my.image('icon-link.svg');
    filter: brightness(0) invert(1);
    background-position: 50%;
  }

  &::before {
    width: 100%;

    content: '';
  }

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    flex-direction: row;

    width: auto;
    min-height: 0;

    background-position: bottom 50% right my.$gutter * 0.25;

    &::before {
      content: none;
    }

    &::after {
      width: my.$gutter * 2;

      content: '';
    }
  }
}
