@use '../abstracts' as my;

/* checkboxes and radio buttons
---------------------------------------------------------------------------- */

/**
 * All checkboxes and readio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset .list-of-options {
  display: flex;

  flex-wrap: wrap;

  gap: my.$gutter;

  align-items: top;

  width: 100%;
  padding: my.$gutter * 0.75;
  margin: 0;

  background-color: my.palette('neutral','x-light');
  border: my.$stroke solid my.palette('border');
  border-radius: my.$rounded-corner;
}

.list-of-options__item {
  display: flex;

  gap: my.$gutter * 0.5;

  align-items: center;

  padding: 0;
  margin: 0;

  white-space: nowrap;
  list-style-type: none;

  &::before {
    content: none;
  }

  label {
    display: inline;

    flex-basis: 0;
    flex-grow: 1;

    padding: 0;

    font-size: 1em;
    white-space: normal;
  }
}

.list-of-options__item--long-text {
  font-size: my.ms-step(-1);
}

/**
  * It's recommended that you don't attempt to style these elements.
  * Firefox's implementation doesn't respect box-sizing, padding, or width.
  *
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  * 3. Reset height (applied by a rule above).
  * 4. Revert the webkit blur effect on focus in Safari for better visual effect.
  */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */

  width: my.$gutter;
  height: my.$gutter;
  padding: 0; /* 2 */
  margin: 0;

  vertical-align: middle;

  appearance: none;
  cursor: pointer;

  background-color: my.palette('neutral', 'white');
  background-clip: padding-box;
  border: my.$stroke solid my.palette('border', 'base');
  box-shadow: inset 0 0 0 my.$gutter * 0.25 my.palette('neutral', 'white');

  &:hover:not(:disabled) {
    @include my.hovered;
  }

  &:focus {
    @include my.focused;
  }

  &:checked {
    background-color: my.palette('brand', 'primary');
  }
}

[type='radio'] {
  border-radius: 100%;

  &:indeterminate {
  }

  &:checked {
  }
}

[type='checkbox'] {
  border-radius: my.$rounded-corner * 0.25;

  &:checked {
  }
}

.list-of-options__item:hover {
  > input,
  > label {
    color: my.palette('black');
  }
}

[disabled] + label,
:disabled + label {
  color: my.palette('disabled', 'foreground');

  cursor: default;
}
