@use '../abstracts' as my;

[role='dialog'] {
  position: relative;

  max-width: my.$max-width--dialog - my.$gutter * 2;
  min-height: my.$gutter * 3.5;
  margin-right: my.$gutter;
  margin-left: my.$gutter;

  @media screen and (min-width: my.$max-width--dialog + my.$gutter * 2) {
    margin-right: auto;
    margin-left: auto;
  }
}

.dialog__close-button:link,
.dialog__close-button:visited,
.dialog__close-button {
  @include my.image-replacement;

  $width-and-height: my.$gutter * 1.5;

  position: absolute;
  top: my.$gutter - $width-and-height * 0.5;
  right: my.$gutter - $width-and-height * 0.5;
  z-index: my.layer('modal');

  display: block;

  width: $width-and-height;
  min-width: 0;
  height: $width-and-height;
  min-height: 0;
  padding: 0;

  background-color: transparent;
  background-position: 50%;
  background-size: contain;
  border: 0;
  border-radius: 100%;

  &::before {
    display: block;

    width: 100%;
    height: 100%;

    pointer-events: none;
    content: '';

    background-image: my.image('icons/x-mark.svg');
    background-position: 50% 50%;
    opacity: 0.65;
  }

  &:hover,
  &:focus {
    position: absolute;

    background-color: transparent;

    &::before {
      opacity: 1;
    }
  }
}
