@use '../abstracts' as my;

.donation-values__list {
  display: flex;

  flex-wrap: wrap;

  gap: my.$gutter * 0.5;

  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-size: my.ms-step(0);
}

.donation-values__item {
  flex-basis: 10%;
  flex-grow: 1;

  justify-content: stretch;

  padding: 0;
  margin: 0;

  white-space: nowrap;
  list-style-type: none;

  &::before {
    content: none;
  }
}

.donation-values__value {
  &[class] {
    width: 100%;
  }
}
