@use 'sass:color';
@use '../abstracts' as my;

.donation-values__list {
  display: flex;

  flex-wrap: wrap;

  gap: my.$gutter * 0.5;

  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-size: my.ms-step(0);
}

.donation-values__item {
  flex-basis: 10%;
  flex-grow: 1;

  padding: 0;
  margin: 0;

  white-space: nowrap;
  list-style-type: none;

  &::before {
    content: none;
  }
}

.donation-values__value {
  &[class] {
    width: 100%;
  }
}

.donation-values__value--custom-group {
  display: flex;

  flex-wrap: nowrap;

  align-items: stretch;

  padding: 0;

  &:hover {
    color: inherit;

    background-color: inherit;
    box-shadow: none;
  }
}

.donation-values__value--custom-button {
}

.donation-values__custom-input,
.donation-values__custom-submit {
  height: auto;
  margin: 0;
}

.donation-values__custom-currency {
  display: flex;

  flex-basis: 33%;
  flex-grow: 1;

  align-items: center;
  justify-content: flex-end;

  height: auto;
  padding: 0;
  margin: 0;

  font-size: 1em;
  color: inherit;
  text-align: right;
}

.donation-values__custom-input {
  flex-basis: 33%;
  flex-grow: 1;

  font-weight: inherit;
  text-align: left;

  appearance: textfield;

  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:not(:focus) {
    appearance: textfield;
  }

  &:not(:focus)::-webkit-outer-spin-button,
  &:not(:focus)::-webkit-inner-spin-button {
    margin: 0;

    appearance: none;
  }

  &[class]:hover,
  &[class]:focus {
    outline: 0;
  }
}

.donation-values__custom-submit[class] {
  @include my.image-replacement;

  flex-basis: 25%;
  flex-grow: 1;

  text-indent: calc(101% + my.$gutter);

  background-color: my.palette('button', 'focus');
  background-image: my.image('icons/icon-arrow-triangle-fill-right.svg');
  background-position: 50%;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus {
    box-shadow: 0 20px 24px -10px my.palette('effects', 'shadow'), 0 12px 24px -12px color.adjust(my.palette('brand', 'tertiary'), $alpha: -0.2);
  }
}
