@use '../abstracts' as my;

.signage {}

.signage__text {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'default'));
}

.signage__text--primary {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'primary'));
}

.signage__text--success {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'success'));
}

.signage__text--info {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'info'));
}

.signage__text--warning {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'warning'));
}

.signage__text--danger {
  color: my.text-contrast(my.palette('neutral', 'white'), my.palette('signage', 'danger'));
}
