@use '../abstracts' as my;

.social-networks {
  display: table;

  padding: 0;

  @supports (gap: my.$gutter) {
    display: flex;

    flex-wrap: wrap;

    gap: my.$gutter * 2;
  }
}

.social-networks__item {
  display: table-cell;

  list-style-type: none;
}

.social-networks__link {
  @include my.image-replacement;

  box-sizing: content-box;
  display: block;

  width: my.$gutter;
  height: my.$gutter;
  padding: my.$gutter * 0.5;

  white-space: normal;

  background-image: my.image('icon-link.svg');
  background-repeat: no-repeat;
  background-position: 50%;

  :first-child > & {
    padding-left: 0;

    background-position: 0 50%;
  }

  :last-child > & {
    padding-right: 0;

    background-position: 100% 50%;
  }

  @supports (gap: my.$gutter) {
    padding: 0;

    :first-child > &,
    :last-child > & {
      padding: 0;

      background-position: 50%;
    }
  }

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    padding-right: my.$gutter;
    padding-left: my.$gutter;

    @supports (gap: my.$gutter) {
      padding: 0;
    }
  }

  &::before {
    display: block;

    height: calc(100% + my.$gutter);

    content: '';
  }
}

.social-networks__link--linkedin {
  background-image: my.image('icon-linkedin.svg');
}

.social-networks__link--twitter {
  background-image: my.image('icon-twitter.svg');
}

.social-networks__link--instagram {
  background-image: my.image('icon-instagram.svg');
}

.social-networks__link--facebook {
  background-image: my.image('icon-facebook.svg');
}

.social-networks__link--mastodon {
  background-image: my.image('icon-mastodon.svg');
}

.social-networks__link--tiktok {
  background-image: my.image('icon-tiktok.svg');
}

.social-networks__link--whatsapp {
  background-image: my.image('icon-whatsapp.svg');
}

.social-networks__link--website {
}
