@use 'sass:color';
@use '../abstracts' as my;

// $_preamble-bg: hsla(0, 0%, 0%, 0.04);

.intro {
  margin-bottom: my.$gutter * 2;

  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    margin-bottom: my.$gutter * 5;
  }
}

.intro > .container {
  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    display: flex;

    flex-wrap: wrap;
  }
}

.intro__cover {
  position: relative;

  align-self: flex-start;

  max-width: my.$cover-max-width;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: my.$gutter;
  margin-left: auto;

  @media screen and (max-width: my.breakpoint('tablet__portrait') - 0.01) {
    @include my.full-width;
  }

  @media screen and (min-width: my.breakpoint('tablet__portrait')) {
    margin-bottom: my.$gutter * 5;

    box-shadow: 0 60px 24px -36px my.palette('effects', 'shadow'), 0 48px 24px -48px color.adjust(my.palette('brand', 'tertiary'), $alpha: -0.6);
  }

  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    // max-width: min-content;
  }
}

.intro__image {
  display: block;
}

.intro__figure-switcher {
  @include my.reset;

  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  transform: translate(-50%, -50%);

  > img {
    @include my.reset;

    width: 3rem;
    height: 3rem;

    pointer-events: none;

    filter: invert(1) drop-shadow(0 4px 4px my.palette('effects', 'shadow'));

    transition-duration: 300ms;
    transition-property: filter;
  }

  &:hover,
  &:focus {
    background: none;
    border: 0;
    box-shadow: none;

    > img {
      filter: invert(1) drop-shadow(my.palette('effects', 'shadow') 0 0 2px) drop-shadow(color.adjust(my.palette('brand', 'tertiary'), $alpha: -0.2) 0 0 4px);
    }
  }
}

.intro__preamble-and-progress-and-call-to-action {
  display: flex;

  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;

  justify-content: space-between;
}

.intro__campaign-preamble {
  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    position: relative;

    padding-top: my.$gutter;
    padding-right: my.$gutter;
    padding-bottom: my.$gutter;
    padding-left: my.$gutter;
    margin-right: my.$gutter * -1;

    color: my.palette('text', 'light');

    // background-color: $_preamble-bg;
    border-bottom-right-radius: 60px;

    &::before {
      position: absolute;
      top: 0;
      right: calc(-50vw + my.$max-width / 2 - my.$gutter * 0);
      bottom: 0;
      z-index: my.layer('below');

      width: 100vw;

      content: '';

      background-color: my.palette('brand', 'primary');
      background-image: my.image('themes/blue/preamble.svg');
      background-position: calc(max(my.$cover-max-width + my.$gutter, 50vw + my.$cover-max-width - my.$max-width / 2 + my.$gutter)) 0;
      border-bottom-right-radius: inherit;
    }
  }

  @media screen and (min-width: my.breakpoint('desktop')) {
    padding-top: my.$gutter * 2;
    padding-right: my.$gutter * 2;
    padding-bottom: my.$gutter * 2;
    padding-left: my.$gutter * 2;
  }

  p {
    margin: 0;

    @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
      max-width: 18em;
    }
  }
}

.intro__progress-and-call-to-action {
  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    padding-left: my.$gutter;
  }
}

.intro__campaign-progress {
  margin-bottom: my.$gutter;

  @media screen and (min-width: my.breakpoint('toggle-sidebar-position')) {
    margin-bottom: my.$gutter * 2;
  }
}

.call-to-action-values__intro {
color: my.palette('neutral', 'base');
}

.call-to-action-values__campaign-type {
  color: my.palette('brand', 'primary');
}
