@use 'sass:map';

@use '../abstracts' as my;

/* TABLES
============================================================================ */
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  width: auto;
  height: auto;

  font-size: 1em;
  vertical-align: inherit;

  background-color: transparent;
  border: 0;

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    display: block;
  }
}

table {
  @include my.zebra-table ($even-bg: my.palette('neutral', 'x-light'));

  margin-top: 0;
  margin-right: 0;
  margin-bottom: my.$leading * 1.5em;
  margin-left: 0;
  overflow: hidden;

  font-family: inherit;
  font-size: 100%;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual no-discretionary-ligatures;
  font-variant-numeric: lining-nums slashed-zero tabular-nums;
  vertical-align: top;

  empty-cells: show;
  border-spacing: 0;
  border-collapse: separate;

  border-radius: my.$rounded-corner;
}

thead,
tfoot {
  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    display: none;
  }
}

thead {
  vertical-align: bottom;
}

tfoot {
  vertical-align: top;
}

table p,
table li {
  font-size: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

caption {
}

tr {
  border-color: my.palette('neutral','light');
  border-style: solid;
  border-width: my.$stroke my.$stroke my.$stroke * 3 my.$stroke;
  border-radius: my.$rounded-corner;

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    @include my.fallback('margin', 0 0 1.5rem);
    display: flex;

    flex-wrap: wrap;

    gap: my.$gutter;

    padding: my.$gutter;

    &:nth-of-type(even) {
      background-color: transparent;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

th,
td {
  padding-top: my.$gutter * 0.75;
  padding-right: my.$gutter * 0.5;
  padding-bottom: my.$gutter * 0.75;
  padding-left: my.$gutter * 0.5;

  &:first-child {
    padding-left: my.$gutter;
  }

  &:last-child {
    padding-right: my.$gutter;
  }

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    flex-basis: calc(25% - my.$gutter);
    flex-grow: 1;

    min-width: 8.5em;
    padding: 0;

    &:first-child {
      flex-basis: 100%;

      padding-right: my.$gutter;
      padding-bottom: my.$gutter;
      padding-left: my.$gutter;
      margin-right: my.$gutter * -1;
      margin-left: my.$gutter * -1;

      font-size: my.ms-step(20px);
      font-weight: font-weight('bold');
      text-align: left;

      border-bottom: my.$stroke solid my.palette('neutral','light');
    }

    &:last-child {
      padding: 0;
    }
  }
}

th {
  font-weight: my.font-weight('bold');
}

td {
  font-family: inherit;

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    &:empty {
      display: none;
    }
  }
}

thead th,
thead td {
  text-align: left;
  vertical-align: bottom;

  border-bottom: my.$stroke solid my.palette('neutral', 'light');
}

thead th:first-child,
tfoot th:first-child {
  text-align: left;
}

thead > tr:nth-last-of-type(even) {
}

tbody {
}

tbody tr {
  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    &:nth-of-type(even) {
      background-color: transparent;
    }
  }
}

tbody th,
tbody td {
  text-align: left;

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    &[aria-label] {
      &::before {
        display: block;

        font-size: my.ms-step(-1);
        font-style: normal;
        font-weight: font-weight('bold');
        color: my.palette('neutral');

        content: attr(aria-label);
      }

      &:first-child::before {
        content: none;
      }
    }
  }
}

tbody th {
}

tbody td {
}

td img {
  vertical-align: top;
}

tfoot th,
tfoot td {
  vertical-align: top;

  border-top: my.$stroke solid my.palette('neutral', 'light');
}

.col--action {
  width: 1em;
}

.cell--action {
  font-size: my.ms-step(-1);

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;

    text-align: right;
  }
}

.cell--number {
  text-align: right;

  @media screen and (max-width: my.breakpoint('toggle-table-layout') - 0.01) {
    text-align: left;
  }
}

.has-unmasked-row {
  color: my.palette('neutral', 'gray');

  tbody th,
  tbody td {
    color: inherit;
  }

  .unmasked-row {
    color: my.palette('neutral', 'black');
  }
}
